*,
*::after,
*::before {
    box-sizing: border-box;
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

.container{
    width: min(992px, 90%);
    margin-inline: auto;
    box-shadow: 10px 0 10px 5px rgba(0, 0, 0, 0.1),
                -10px 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

main {
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.hidden {
    display: none;
}

.form-box{
    border: 1px solid red;
    border-radius: 10px;
    padding: 1rem;
}