<% if (locals.error !== null) { %>
<div id="errorModal" class="modal" style="display: flex;">
  <div class="modal-content">
    <span><%= error %></span>
    <button class="close-btn" id="closeModal">X</button>
  </div>
</div>
<% } %>
