<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Link</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <main class="container">
      <div class="success-msg msg" id="success-msg">
        <i class="fa fa-check"></i>
        <span id="copyFeedback">This is a success message.</span>
        <button type="button" onclick="closeSuccessMsg(event)">X</button>
      </div>
      <div class="error-msg msg" id="error-msg">
        <i class="fa fa-times-circle"></i>
        <span id="copyFeedback">This is a success message.</span>
        <button type="button" onclick="closeErrorMsg(event)">X</button>
      </div>
      <div class="url">
        <input
          type="text"
          class="url-to-copy"
          id="url-to-copy"
          value="<%= url %>"
          readonly
        />
        <button type="button" onclick="copyUrl(event)">Copy</button>
      </div>
    </main>

    <!-- Custom JS -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Automatically download the PDF invoice
        const pdfUrl = "<%- invoice %>";
        if (pdfUrl) {
          // Create an invisible link and trigger click to download
          const link = document.createElement("a");
          link.href = pdfUrl;
          link.download = "invoice.pdf";
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      });
    </script>
    <script src="/static/index.js" defer></script>
  </body>
</html>
