@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f0f0;
}

.form-wrapper{
  width: 100%;
  display: grid;
  place-items: center;
}

.custom-form {
  width: 100%;
  max-width: 500px;
}

#copy-text{
  overflow-wrap: break-word;
}
